@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: #F5F5F5; */
  /* background-color: #FAF9F6 */
}

.link {
  color: #9ee64d; 
  text-decoration: none;
}

.link:hover {
  /* text-decoration: underline; */
  color: #3d8f71;
}
