@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CardenioModern";
  src: url("/fonts/CardenioModern-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CardenioModern";
  src: url("/fonts/CardenioModern-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
