@use 'sass:math';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: #F5F5F5; */
  /* background-color: #FAF9F6 */
  background-color: #131414;
}

.link {
  color: #9ee64d; 
  text-decoration: none;
}

.link:hover {
  /* text-decoration: underline; */
  color: #3d8f71;
}

.flex-container {
  position: relative;
  z-index: 0; /* First div, behind the particles */
}

.content-container {
  position: relative;
  z-index: 3; /* Second div, in front of the particles */
}

#particle-container {
  position: relative;
  z-index: 1; /* Particles will be between the two divs */
}

.particle {
	position: absolute;
 	border-radius: 50%;
  z-index: 2;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((math.random() * 90vw), (math.random() * 90vh), (math.random() * 100px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: math.random() * 5 + 5 + px;
    opacity: math.div(math.random() * 100, 100);
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((math.random() * 90vw), (math.random() * 90vh), (math.random() * 100px));
    // background: hsl(math.random() * 360, 70%, 50%);
    background: white;
  }
}

